export MEETSPACE_API_TOKEN="123456789"
export MEETSPACE_API_HOST="https://meetspaceapp.com"
export HIPCHAT_API_TOKEN="abcdefghijklmnopqrstuvwxyz"
export DOCKERPROD="sshstuff"
export MEETSPACEBOT_TEST="false"
